@font-face {
  font-family: 'kajiro';
  src: url('kajiro.woff2'),
       url('kajiro.woff');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'kajiro';
    background-color: #d0c7c7;
    background-color: #222;
    padding: 0px;
    font-size: 30px;
    font-weight: 300;
    color: #333;
    letter-spacing: 5px;
    scroll-behavior: smooth;
}

.background-cover {
    opacity: 0.5;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    animation: 2s fadeInUp;
    height: 100%;
    background: rgba(131, 127, 127, 0.2);
     /* 50% opacity black background */
    z-index: -1; /* Send the cover to the background */
}

.background-cover img{
    width: 60%;
    height: 360px;
    animation: 2s fadeInUp;
}

.gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    animation: 2s fadeInUp;
    margin: 40px 20px 20px 20px ;
    flex-wrap: wrap;
    border: 10px;
}

.gallery-container .heading{
    width: 50%;
    padding-bottom: 50px;
    animation: 2s fadeInUp;
}

.gallery-container .heading h3{
    font-size: 5em;
    color: #e7e1e1;
    position: absolute;
    animation: 2s fadeInUp;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    transition: .3s linear;
    font-weight: bolder;
    padding-bottom: 50px;
}
.gallery-container .heading h3 span{
    font-weight: 10px;
    animation: 2s fadeInUp;
}

.gallery-container .gallery {
    display: flex;
    flex-direction: row;  
    box-shadow: #dfdbdb;
    border-bottom-width: 5px;
}

.gallery-container .gallery .gallery-item{
    display: flex;
    flex-direction: column;
    width: 32.5%;
    gap: 20px;
    padding: 5px;
    margin: 10px;
}


.gallery-container .gallery .gallery-item img{
    width: 100%;
    margin-top: 15px;
    border-radius: 12px;
    animation: 2s fadeInUp;
    height: auto;
    display: block;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.2);
    border-radius: 10px;
}


.gallery-container .btn{
    margin: 40px 0 70px 0;
    background: #222;
    padding: 15px 40px;
    border-radius: 5px;
}

.gallery-container .btn a{
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 3px;
}

.gallery-container .btn:hover{
    scale: 1.2;
    transition: .3s linear;
}

@media screen and (max-width: 768px) {
    .gallery-container .gallery {
         flex-direction: column;
        justify-content: space-between;  
    }
    .gallery-container .gallery .gallery-item{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .gallery-container .heading{
        width: 100%;
        
    }
    
    .gallery-container .heading h3{
        font-size: 1em;
        
    }
}

@keyframes fadeInUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }    

  .footer {
    position: relative;
    width: 1280px;
    min-height: 80px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: arial;
    letter-spacing: 1px;
    background-color: #222;
}
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon
  {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  #loc {
    position: absolute;
    margin-right: 800px;
    margin: px;
    margin-top: 20px;
    left: 0;
    top: 0;
  }
  
  #loc a{
    text-decoration: none;
  }
  
  #loc a p{
    font-size: 18px;
  }
  
  #phone {
    position: absolute;
    top: 2px;
    right: 10px;
  }
  
  #phone a{
    text-decoration: none;
    height: 150px;
    font-size: 30px;
  }
  
#phone a h5{
    font-size: 20px;
    margin: 2px;
    top: 10px;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }  
  
  @media screen and (max-width: 480px) {
    .background-cover img{
      width: 70%;
      height: 260px;
      animation: 2s fadeInUp;
  }

    .gallery-container .heading{
      width: 30%;
      height: 3vh;
    }
    .gallery-container .heading h3{
      font-size: 2em;
      position: absolute;
      top: 30%;
      padding-bottom: 20px;
      left: 50%;
      transform: translate(-50% ,-50%);
  }
    .gallery-container .gallery{
      flex-direction: column;
    }
    
    .gallery-container .btn a{
      font-size: 1.5rem;
      letter-spacing: 1px;
    }

  .gallery-item img:hover {
    transform: scale(1.1);
    border-radius: 10px;
  }
  

    .footer {
        padding: 10px;
        padding-top: 20px;
        width: 100%;
        height: 200px;
    }
    .social-icon{
        display: flex;
        flex-direction: row;
    }
    .menu__link {
        margin-right: 5px;
    }
    #loc p{
        display: none;
    }
    #loc {
        margin-right: 5px;    
        position: sticky;
        margin-top: 2px;
    }
    #phone{
        display: none;
    }
    .footer p{
      margin-bottom: 20px;
      text-align: center;
    }  
  }