*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'kajiro';
    background-color: #d0c7c7;
    padding: 20px;
    font-size: 30px;
    font-weight: 300;
    color: #333;
    letter-spacing: 5px;
    scroll-behavior: smooth;
}

.background-cover {
    opacity: 0.5;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2); /* 50% opacity black background */
    z-index: -1; /* Send the cover to the background */
}

.background-cover img{
    width: 60%;
    height: 360px;
}

.gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 40px 20px 20px 20px ;
    flex-wrap: wrap;
    border: 10px;
}

.gallery-container .heading{
    width: 50%;
    padding-bottom: 50px;
}

.gallery-container .heading h3{
    font-size: 5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    font-weight: bolder;
    padding-bottom: 50px;
}
.gallery-container .heading h3 span{
    font-weight: 10px;
}

.gallery-container .gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    box-shadow: #333;
    border-bottom-width: 5px;
}

.gallery-container .gallery .gallery-item{
    display: flex;
    flex-direction: column;
    width: 32.5%;
    padding: 5px;
}


.gallery-container .gallery .gallery-item img{
    width: 100%;
    padding: 0px;
    margin-top: 17px;
    border-radius: 10px;
    height: auto;
    display: block;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.2);
    border-radius: 10px;
}


.gallery-container .btn{
    margin: 40px 0 70px 0;
    background: #222;
    padding: 15px 40px;
    border-radius: 5px;
}

.gallery-container .btn a{
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 3px;

}

@media screen and (max-width: 768px) {
    .gallery-container .gallery {
         flex-direction: column;
        justify-content: space-between;  
    }
    .gallery-container .gallery .gallery-item{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .gallery-container .heading{
        width: 100%;
        
    }
    
    .gallery-container .heading h3{
        font-size: 1em;
        
    }
}

    
