body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background: url('https://www.bing.com/th/id/OGC.36e4d0b856694fc471344b644a1dd6e4?pid=1.7&rurl=https%3a%2f%2fmedia.giphy.com%2fmedia%2fxT4uQF7h39mlsF5czK%2fgiphy.gif&ehk=0eGVC1%2byAWYqzw5mInQUEB5i3LDHJnSQQoWQXSwWeok%3d');
}

.left {
    flex: 1;
    padding-right: 20px;
    color: rgb(237, 233, 233);
}

.left h2{
    font-size: 35px;
    text-align: center;
    color: aliceblue;
    letter-spacing: 2px;
}

.right {
    flex: 1;
    padding-left: 20px;
    color: aliceblue;
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="submit"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: rgb(238, 234, 234);
    color: #000;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 200px;
    margin-left: 30%;
}

input[type="submit"]:hover {
    background-color: rgb(160, 194, 108);
}

.welcome {
    margin-bottom: 5px;
}

.welcome p{
    font-size: 15px;
    letter-spacing: 1px;
}

.roles {
    padding: 20px;
    border-radius: 5px;
}

.roles ul {
    list-style-type: none;
    padding: 0;
}

.roles ul li {
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .left,
    .right {
        padding: 0;
    }
}

